<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="nav_menu" id="nav_menu">
    <ul>
        <li><a th:href="@{/user}">Пользователи</a></li>
        <li><a th:href="@{/product}">Продукты</a></li>
        <li><a th:href="@{/category}">Категории</a></li>
    </ul>
    <form sec:authorize="isAuthenticated()" method="post" action="/logout">
        <input type="submit" value="Выход">
    </form>
</nav>
</body>
</html>