<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EShop application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
<nav th:replace="~{fragments/menu :: nav_menu}"></nav>
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <h3 class="title">Изменение пользователя</h3>
            <form th:action="@{/user}" method="post" th:object="${user}" class="entity_form">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Логин</label>
                    <input type="text" class="form-control" id="name" th:field="*{username}" placeholder="Enter username">
                    <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <div class="form-group">
                    <label>Пароль</label><br>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter password">
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="form-group">
                    <label>Повторите пароль</label><br>
                    <input type="password" class="form-control" id="repeatPassword" th:field="*{repeatPassword}" placeholder="Repeat password">
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="form-group">
                    <label>Возраст</label><br>
                    <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="User age">
                    <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                </div>
                <div class="form-group">
                    <label for="roles">Роли</label><br>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role : ${roles}"
                                th:text="${role.name}"
                                th:value="${role.id} + ';' + ${role.name}"
                                ></option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </div>
</div>

</body>

</html>